.entete {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    .left {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
    }
    .right {
        display: flex;
        justify-content: flex-start;
        .search-icon {
            color: $simple-bleu;
            font-size: 1.5rem;
            margin-top: 10px;
            margin-right: 10px;
        }
        input {
            width: 60rem;
            border: none;
            border-bottom: 2px $simple-bleu solid;
            outline: none;
            height: 15px;
            margin-top: 15px;
            margin-right: 10px;
            &::placeholder {
                color: $placholder-color;
                font-family: $menu;
                font-size: 1.05rem;
                padding-bottom: -100px;
            }
        }
        button {
            &.btn {
                background: $pink-color;
            }
        }
    }
}

@media screen and (max-width: 770px) {
    .entete {
        display: block;
        align-items: center;
        width: 100%;
        .left {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 10px;
        }
        .right {
            display: flex;
            justify-content: center;
            .search-icon {
                color: $simple-bleu;
                font-size: 1.5rem;
                margin-top: 10px;
                margin-right: 10px;
                margin-left: 20px;
            }
            input {
                width: 25rem;
                border: none;
                border-bottom: 2px $simple-bleu solid;
                outline: none;
                height: 15px;
                margin-top: 15px;
                margin-right: 10px;
                &::placeholder {
                    color: $placholder-color;
                    font-family: $menu;
                    font-size: 1.05rem;
                    padding-bottom: -100px;
                    text-transform: capitalize;
                }
            }
            button {
                &.btn {
                    background: $pink-color;
                }
            }
        }
    }
}

@media screen and (max-width: 404px) {
    .entete {
        width: 100%;
        display: block;
        align-items: center;
        .left {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 10px;
            .btn {
                &:last-child {
                    margin-top: 10px;
                }
            }
        }
        .right {
            display: flex;
            justify-content: center;
            .search-icon {
                color: $simple-bleu;
                font-size: 1.5rem;
                margin-top: 10px;
                margin-right: 10px;
            }
            input {
                width: 25rem;
                border: none;
                border-bottom: 2px $simple-bleu solid;
                outline: none;
                height: 15px;
                margin-top: 15px;
                margin-right: 10px;
                &::placeholder {
                    color: $placholder-color;
                    font-family: $menu;
                    font-size: 1.05rem;
                    padding-bottom: -100px;
                    text-transform: capitalize;
                }
            }
            button {
                &.btn {
                    background: $pink-color;
                    margin-top: 10px;
                }
            }
        }
    }
}